<tr>
    <td colspan="{{ price_colspan }}"></td>
    <td class="price" colspan="1">
        <table class="quote-total-prices">
            <tbody>
                <tr>
                    <td><strong>Subtotal{{#if is_price_estimated}} <small>(est.)</small>{{/if}}</strong></td>
                    <td class="value"><span>{{ total_prices.subtotal }}</span></td>
                </tr>
                {{#if total_prices.tax_percent }}
                <tr>
                    <td><strong>{{ total_prices.tax_percent }} Sales Tax{{#if is_price_estimated}} <small>(est.)</small>{{/if}}</strong></td>
                    <td class="value"><span>{{ total_prices.tax }}</span></td>
                </tr>
                {{/if}}
                <tr>
                    <td><strong>Shipping</strong></td>
                    <td class="value"><span>{{ total_prices.shipping }}</span></li></td>
                </tr>
                <tr class="grand-total">
                    <td><strong>Grand Total{{#if is_price_estimated}} <small>(est.)</small>{{/if}}</strong></td>
                    <td class="value"><strong>{{ total_prices.grand_total }}</strong></li></td>
                </tr>
                {{#if total_prices.deposit_percent }}
                <tr>
                    <td><strong>{{ total_prices.deposit_percent }} Deposit on Contract{{#if is_price_estimated}} <small>(est.)</small>{{/if}}</strong></td>
                    <td class="value"><span>{{ total_prices.deposit_on_contract }}</span></li></td>
                </tr>
                <tr>
                    <td><strong>Balance Due at Delivery{{#if is_price_estimated}} <small>(est.)</small>{{/if}}</strong></td>
                    <td class="value"><span>{{ total_prices.balance_due_at_delivery }}</span></li></td>
                </tr>
                {{/if}}
            </tbody>
        </table>
    </td>
</tr>
