<button class="js-sidebar-toggle sidebar-toggle glyphicon glyphicon-forward"></button>

<h3>Select Unit</h3>

<div class="unit-selector-controls">
    <div class="unit-selector-select">
        <select name="unit-selector-dropdown" id="unit-selector-dropdown" class="selectpicker" title='Choose a unit'>
            {{#each unit_list}}
                <option data-subtext="{{ dimensions }}" {{#if is_selected }}selected{{/if}} value="{{ cid }}">#{{ reference_id }}: <strong>{{ mark }}</strong></option>
            {{/each}}
        </select>
    </div>

    <div class="unit-selector-buttons">
        <button class="js-prev-unit glyphicon glyphicon-chevron-left"></button>
        <button class="js-next-unit glyphicon glyphicon-chevron-right"></button>
    </div>
</div>

{{#if active_unit_image }}
    <div class="active-unit-image">
        <h4>Customer Image</h4>
        <img src="{{ active_unit_image }}" alt="">
    </div>
{{/if}}

<div class="tab-container">
    <ul class="nav nav-tabs">
    {{#each tabs }}
        {{#if is_visible }}<li class="{{ @key }}{{#if is_active }} active{{/if}}"><a href="#{{ @key }}">{{ title }}</a></li>{{/if}}
    {{/each}}
    </ul>
</div>

{{#if active_unit_properties }}
{{#if tabs.active_unit_properties.is_active }}
    <div class="active-unit-properties">
        <h4>Unit Properties</h4>
        <table>
            <tbody>
                {{#each active_unit_properties }}
                <tr>
                    <td class="title">{{ title }}</td>
                    <td class="value">{{ value }}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{#if active_unit_options }}
            <h4>Unit Options</h4>
            <table>
            <tbody>
                {{#each active_unit_options }}
                <tr>
                    <td class="title">{{ title }}</td>
                    <td class="value">{{ value }}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
        {{#if active_unit_sashes }}
            <h4>Sash List</h4>
            {{#each active_unit_sashes }}
            <h5>{{ name }}</h5>
            <table>
                <tbody>
                    <tr>
                        <td class="title">Type</td>
                        <td class="value">{{ type }}</td>
                    </tr>
                    {{#if opening_size }}
                    <tr>
                        <td class="title">Vent Opn. Size</td>
                        <td class="value">{{{ opening_size }}}</td>
                    </tr>
                    {{/if}}
                    {{#if egress_opening_size }}
                        <tr>
                            <td class="title">Egress Clear Opening</td>
                            <td class="value">{{{ egress_opening_size }}}</td>
                        </tr>
                    {{/if}}
                    {{#if sections}}
                        {{#if daylight_sum }}
                        <tr>
                            <td class="title">Total Daylight</td>
                            <td class="value">{{{ daylight_sum }}}</td>
                        </tr>
                        {{/if}}
                        {{#each sections}}
                        <tr>
                            <td class="title" colspan="2"><strong> {{ name }} </strong></td>
                        </tr>
                        <tr>
                            <td class="title">{{#if filling_is_glass }}Glazing{{else}}Panel{{/if}}</td>
                            <td class="value">{{ filling_name }}</td>
                        </tr>
                        {{#if filling_is_glass }}
                        <tr>
                            <td class="title">Daylight</td>
                            <td class="value">{{{ filling_size }}}</td>
                        </tr>
                        {{/if}}
                        {{/each}}
                    {{else}}
                        <tr>
                            <td class="title">{{#if filling_is_glass }}Glazing{{else}}Panel{{/if}}</td>
                            <td class="value">{{ filling_name }}</td>
                        </tr>
                        {{#if filling_is_glass }}
                        <tr>
                            <td class="title">Total Daylight</td>
                            <td class="value">{{{ filling_size }}}</td>
                        </tr>
                        {{/if}}
                    {{/if}}
                </tbody>
            </table>
            {{/each}}
        {{/if}}
    </div>
{{/if}}
{{/if}}

{{#if active_unit_profile_properties }}
{{#if tabs.active_unit_profile_properties.is_active }}
    <div class="active-unit-profile-properties">
        <h4>Profile Properties</h4>
        <table>
            <tbody>
                {{#each active_unit_profile_properties }}
                <tr>
                    <td class="title">{{ title }}</td>
                    <td class="value">{{ value }}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{/if}}
{{/if}}

{{#if active_unit_stats }}
{{#if tabs.active_unit_stats.is_active }}
    <div class="active-unit-profile-properties">
        {{#each active_unit_stats }}
            {{#if hasBaseFilling }}
                <table>
                    <h4>{{ title }}</h4>
                    <p class="weight-base-filling-error">Unit should not have any base filling types</p>
                </table>
            {{else}}
                <table>
                    <h4>{{ title }}</h4>
                    <tbody>
                    {{#each data }}
                        <tr{{#if is_total }} class="total"{{/if}}>
                            <td class="title">{{ title }}</td>
                            <td class="value">{{{ value }}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            {{/if}}
        {{/each}}
    </div>
{{/if}}
{{/if}}

{{#if active_unit_estimated_section_prices }}
{{#if tabs.active_unit_estimated_section_prices.is_active }}
    <div class="active-unit-estimated-section-prices">
        <h4>Estimated Section Prices</h4>
        {{#each active_unit_estimated_section_prices }}
        <h5>{{ name }}</h5>
        <table>
            <tbody>
                <tr>
                    <td class="title">Type</td>
                    <td class="value">{{ type }}</td>
                </tr>
                <tr>
                    <td class="title">Width</td>
                    <td class="value">{{{ width }}}</td>
                </tr>
                <tr>
                    <td class="title">Height</td>
                    <td class="value">{{{ height }}}</td>
                </tr>
                <tr>
                    <td class="title">Area</td>
                    <td class="value">{{{ area }}}</td>
                </tr>
                <tr>
                    <td class="title">Price / m<sup>2</sup></td>
                    <td class="value">{{{ price_per_square_meter }}}</td>
                </tr>
                <tr>
                    <td class="title">Price</td>
                    <td class="value">{{{ price }}}</td>
                </tr>
            </tbody>
        </table>
        {{/each}}
    </div>
{{/if}}
{{/if}}
