<div class="units-table{{#if is_always_visible }} always-visible{{/if}}">
    <div class="units-table-title">
        <p>Units list</p>
    </div>
    <div class="units-table-contents {{ table_visibility }}">
        <div class="tabs-and-controls-container">
            <div class="tab-container">
                <ul class="nav nav-tabs">
                {{#each tabs }}
                    <li class="{{ @key }}{{#if is_active }} active{{/if}}"><a href="#{{ @key }}">{{ title }}</a></li>
                {{/each}}
                </ul>
            </div>
            <div class="units-table-controls {{ table_visibility }} show-{{ mode }}">
                <button class="btn btn-xs js-undo">Undo</button>
                <button class="btn btn-xs js-redo">Redo</button>
                <button class="btn js-remove-selected-items remove-selected-items disabled"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</button>
                <button class="btn js-clone-selected-items clone-selected-items disabled"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> Clone</button>
                <button class="btn js-add-new-unit add-new-unit">Add new unit</button>
                <button class="btn js-add-new-accessory add-new-accessory">Add new accessory</button>
            </div>
        </div>
        <div class="units-table-total-prices-container"></div>
        <div class="units-table-scroll-wrapper">
            <div class="handsontable-container"></div>
        </div>
    </div>
</div>
