<div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4">
                Project ID:
            </label>
            <div class="col-sm-8">
                {{id}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4">
                Project Name:
            </label>
            <div class="col-sm-8">
                {{project_name}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4">
                Client Name:
            </label>
            <div class="col-sm-8">
                {{client_name}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4">
                Company:
            </label>
            <div class="col-sm-8">
                {{client_company_name}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4">
                Phone:
            </label>
            <div class="col-sm-8">
                {{client_phone}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4">
                Email:
            </label>
            <div class="col-sm-8">
                {{client_email}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4">
                Client Address:
            </label>
            <div class="col-sm-8">
                {{client_address}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4">
                Project Address:
            </label>
            <div class="col-sm-8">
               {{project_address}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4">
                Quote Rev.:
            </label>
            <div class="col-sm-8">
               {{quote_revision}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4">
                Quote Date:
            </label>
            <div class="col-sm-8">
               {{quote_date}}
            </div>
        </div>
         <div class="form-group">
            <label class="col-sm-4">
                Project Notes:
            </label>
            <div class="col-sm-8">
               {{project_notes}}
            </div>
        </div>
         <div class="form-group">
            <label class="col-sm-4">
                Shipping Notes:
            </label>
            <div class="col-sm-8">
               {{shipping_notes}}
            </div>
        </div>
</div>
