<div class="quote-table">
    <div class="quote-table-body"></div>
    <table class="total-units">
        <tbody><tr>
            <td colspan="{{ price_colspan }}"></td>
            <td class="total-units-column">
                <table class="quote-total-units">
                    <tbody>
                        <tr class="total">
                            <td><strong>Total Unit Types</strong></td>
                            <td class="value"><strong>{{ total_unit_types }}</strong></li></td>
                        </tr>
                        <tr class="total">
                            <td><strong>Total Quantity</strong></td>
                            <td class="value"><strong>{{ total_unit_quantity }}</strong></li></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr></tbody>
    </table>
    {{#if show_price }}
        {{#if has_extras }}
        <table class="subtotal">
            <tbody><tr>
                <td colspan="{{ price_colspan }}"></td>
                <td class="price">
                    <table class="quote-total-prices">
                        <tbody>
                            <tr class="total">
                                <td><strong>Subtotal{{#if is_price_estimated}} <small>(est.)</small>{{/if}}</strong></td>
                                <td class="value"><strong>{{ total_prices.subtotal_units }}</strong></li></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr></tbody>
        </table>
        {{/if}}
    {{/if}}
</div>

{{#if has_extras }}
<div class="quote-extras-table-container"></div>
<div class="quote-optional-extras-table-container"></div>
{{/if}}

{{#if show_price }}
<table class="quote-table grand-total">
    {{> 'quote/partials/quote-table-grand-total' }}
</table>
{{/if }}
