<td class="ref">{{ reference_id }}</td>
<td class="extras-product-description">{{ description }}</td>
<td class="quantity">{{ quantity }}</td>
{{#if show_price }}
<td class="price">
    <table class="unit-price">
        <tbody>
            {{#if price.unit }}
            <tr class="unit">
                <td>Unit Price:</td>
                <td class="value">{{ price.unit }}</td>
            </tr>
            {{/if}}
            <tr class="subtotal">
                {{#if price.subtotal }}
                <td>Subtotal{{#if is_price_estimated}} <small>(est.)</small>{{/if}}:</td>
                <td class="value">{{ price.subtotal }}</td>
                {{else}}
                <td>Included</td>
                {{/if}}
            </tr>
        </tbody>
    </table>
</td>
{{/if }}
